@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Couleur */
#mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  position: fixed;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#mainNav .mainLogo img {
  padding: 0.5rem 0 0 1rem;
}

#mainNav .navLiens {
  position: relative;
  height: 60px;
  width: 60px;
}

#mainNav .navLiens .burger::before {
  content: "";
  display: block;
  width: 20px;
  height: 10px;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

#mainNav .navLiens .burger::after {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

#mainNav .navLiens ul {
  display: none;
}

#modalLink {
  display: none;
}

#modalLink.isActive {
  z-index: 100;
  background: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modalLink.isActive ul li {
  margin: 1rem;
  text-align: center;
}

#modalLink.isActive ul li a {
  color: white;
  text-transform: uppercase;
}

@media screen and (min-width: 600px) {
  #mainNav {
    display: none;
  }
  #mainNav .mainLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%;
  }
  #mainNav .navLiens {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%;
  }
  #mainNav .navLiens .burger {
    display: none;
  }
  #mainNav .navLiens ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #mainNav .navLiens ul li {
    padding: 0 1rem;
  }
  #mainNav .navLiens ul li a {
    color: white;
    text-transform: uppercase;
    position: relative;
  }
  #mainNav .navLiens ul li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%) scaleX(0);
            transform: translateX(-50%) scaleX(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transition: -webkit-transform 250ms;
    transition: -webkit-transform 250ms;
    transition: transform 250ms;
    transition: transform 250ms, -webkit-transform 250ms;
  }
  #mainNav .navLiens ul li a:hover::after {
    -webkit-transform: translateX(-50%) scaleX(1);
            transform: translateX(-50%) scaleX(1);
  }
  #modalLink {
    display: none;
  }
}

#slider1 {
  display: block;
  height: 100%;
  width: 100%;
  background: url("../image/slider1-1.jpg") no-repeat center center #000000;
  position: relative;
}

#slider1 .infosSlider1 {
  color: white;
  padding: 1.2rem;
}

#slider1 .infosSlider1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#slider1 .infosSlider1 ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #8e2364;
  padding: 0.5rem 1rem;
}

#slider1 .infosSlider1 ul li a {
  color: white;
}

#slider1 .infosSlider1 ul li.lienActif {
  background-color: #F29401;
}

#slider1 .infosSlider1 h1,
#slider1 .infosSlider1 p {
  text-shadow: 1px 2px 2px gray;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
}

#slider1 .infosSlider1 .lirePlus {
  font-style: italic;
  font-size: 1rem;
  padding-left: 2rem;
}

#slider1 .infosSlider1 .lirePlus a {
  color: white;
}

#slider1 .infosSlider1 .lirePlus a::before {
  content: '';
  border-style: solid;
  border-width: 2px 2px 0 0;
  display: inline-block;
  height: 6px;
  left: -5px;
  position: relative;
  top: 4px;
  vertical-align: top;
  width: 6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (min-width: 600px) {
  #slider1 {
    height: 100vh;
  }
  #slider1 .infosSlider1 {
    padding: 6rem 0 0 10rem;
    max-width: 80%;
    position: relative;
  }
  #slider1 .infosSlider1 ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 2.188rem;
  }
  #slider1 .infosSlider1 ul li {
    margin-right: 0.5rem;
    -webkit-transform: skew(-30deg, 0);
            transform: skew(-30deg, 0);
  }
  #slider1 .infosSlider1 ul li a {
    color: white;
    -webkit-transform: skew(30deg, 0);
            transform: skew(30deg, 0);
  }
  #slider1 .infosSlider1 ul li.lienActif {
    background-color: #F29401;
  }
  #slider1 .infosSlider1 h1,
  #slider1 .infosSlider1 p {
    background-color: transparent;
  }
  #slider1 .infosSlider1 h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0;
  }
  #slider1 .infosSlider1 p {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.6rem;
    padding: 0 0 1rem 1.5rem;
  }
  #slider1 .infosSlider1 .lirePlus {
    padding-left: 2rem;
  }
  #slider1 .infosSlider1 .lirePlus a::before {
    top: 8px;
    left: -6px;
  }
  #slider1 .fleche {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    width: 40px;
  }
  #slider1 .fleche::before {
    content: '';
    border-color: #F29401;
    border-style: solid;
    border-width: 4px 4px 0 0;
    display: inline-block;
    height: 30px;
    left: 0px;
    position: relative;
    top: -20px;
    vertical-align: top;
    width: 30px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    -webkit-animation: arrowMove 1s infinite ease-in-out;
            animation: arrowMove 1s infinite ease-in-out;
  }
}

@media screen and (min-width: 1024px) {
  #slider1 .infosSlider1 {
    max-width: 50%;
  }
}

/* Animation de la flèche pour le scroll */
@-webkit-keyframes arrowMove {
  0% {
    top: -4px;
  }
  50% {
    top: -20px;
  }
  100% {
    top: -4px;
  }
}
@keyframes arrowMove {
  0% {
    top: -4px;
  }
  50% {
    top: -20px;
  }
  100% {
    top: -4px;
  }
}

#slider2 {
  height: 180px;
  width: auto;
  background-color: black;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: auto 0;
}

#slider2 .fleche1,
#slider2 .fleche2 {
  position: absolute;
  bottom: 0;
  height: 13px;
  cursor: pointer;
}

#slider2 .fleche1 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
  left: 0;
  color: white;
  z-index: 1;
}

#slider2 .fleche1::before {
  content: '';
  border-style: solid;
  border-width: 1px 1px 0 0;
  border-color: white;
  display: inline-block;
  position: relative;
  vertical-align: top;
  height: 10px;
  width: 10px;
  top: -6px;
  left: 10px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

#slider2 .fleche2 {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
  right: 0;
}

#slider2 .fleche2::before {
  content: '';
  border-style: solid;
  border-width: 1px 1px 0 0;
  border-color: white;
  display: inline-block;
  position: relative;
  vertical-align: top;
  height: 10px;
  width: 10px;
  top: -6px;
  left: -10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#slider2 .slider2Block {
  position: absolute;
  width: 100%;
  height: auto;
  color: white;
  padding: 1.5rem;
  -webkit-transition: left 2s;
  transition: left 2s;
  background: black;
}

#slider2 .slider2Block.slide1 {
  left: 0%;
}

#slider2 .slider2Block.slide2 {
  left: 100%;
}

#slider2 .slider2Block.slide3 {
  left: 200%;
}

#slider2 .slider2Block.slide4 {
  left: 300%;
}

#slider2 .slider2Block.slide5 {
  left: 400%;
}

#slider2 .slider2Block h2 {
  color: #F29401;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 0.7rem;
}

#slider2 .slider2Block .svgslider {
  fill: white;
  margin-left: 0.5rem;
}

#slider2 .slider2Block .lirePlus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0 0 0.4rem;
  color: white;
  font-size: 0.6rem;
  font-style: italic;
}

#slider2 .slider2Block .lirePlus::before {
  content: '';
  border-style: solid;
  border-width: 1px 1px 0 0;
  display: inline-block;
  height: 4px;
  left: -6px;
  position: relative;
  top: 1px;
  vertical-align: top;
  width: 4px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (min-width: 600px) {
  #slider2 .fleche1,
  #slider2 .fleche2 {
    height: 180px;
    width: 5%;
  }
  #slider2 .fleche1::before,
  #slider2 .fleche2::before {
    top: 50%;
  }
  #slider2 .fleche1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #slider2 .fleche1::before {
    left: 35%;
    -webkit-transform: rotate(-135deg) translate(-50%, 50%);
            transform: rotate(-135deg) translate(-50%, 50%);
  }
  #slider2 .fleche2::before {
    left: calc(50% - 10px);
    -webkit-transform: rotate(45deg) translate(50%, -50%);
            transform: rotate(45deg) translate(50%, -50%);
  }
  #slider2 .slider2Block {
    width: 30%;
    height: 100%;
  }
  #slider2 .slider2Block.slide1::after, #slider2 .slider2Block.slide2::after {
    content: "";
    height: 130px;
    width: 1px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  #slider2 .slider2Block.slide1 {
    left: 5%;
  }
  #slider2 .slider2Block.slide2 {
    left: 35%;
  }
  #slider2 .slider2Block.slide3 {
    left: 65%;
  }
  #slider2 .slider2Block.slide4 {
    left: 95%;
  }
  #slider2 .slider2Block.slide4, #slider2 .slider2Block.slide5 {
    display: none;
  }
  #slider2 .slider2Block h2 img {
    margin-left: 0.5rem;
  }
  #slider2 .slider2Block p {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}

.infosMapWrapper {
  padding: 1rem;
}

.infosMapWrapper .infosLogos .infos .ecole,
.infosMapWrapper .infosLogos .infos .formation,
.infosMapWrapper .infosLogos .infos .recherche,
.infosMapWrapper .infosLogos .infos .entreprise {
  margin-top: 10px;
}

.infosMapWrapper .infosLogos .infos h2 {
  margin-top: 0.5rem;
  display: inline-block;
  border-bottom: 1px solid #8e2364;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.infosMapWrapper .infosLogos .infos li a {
  color: black;
  font-size: 0.7rem;
}

.infosMapWrapper .infosLogos .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5rem 0;
}

.infosMapWrapper .infosLogos .logos figure {
  margin: 2rem 0;
}

.infosMapWrapper .infosLogos .logos figure img {
  width: 100%;
  height: auto;
}

.infosMapWrapper .map {
  overflow: hidden;
  position: relative;
  height: 450px;
}

.infosMapWrapper .map img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.infosMapWrapper .map .infosMap {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 0.7rem;
}

.infosMapWrapper .map .infosMap h2 {
  display: none;
}

.infosMapWrapper .map .infosMap .btnCampus {
  background-color: #EAEAEC;
  color: #F29401;
  padding: 0.5rem;
  cursor: pointer;
}

.infosMapWrapper .map .infosMap .btnCampus:hover {
  background-color: #151521;
  color: white;
}

.infosMapWrapper .map .infosMap .btnCampus::after {
  content: '';
  border-style: solid;
  border-width: 1px 1px 0 0;
  display: inline-block;
  height: 5px;
  left: 3px;
  position: relative;
  top: 4px;
  vertical-align: top;
  width: 5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.infosMapWrapper .map .infosMap .btnCampus.out::after {
  content: '';
  border-style: solid;
  border-width: 1px 1px 0 0;
  display: inline-block;
  height: 5px;
  left: 3px;
  position: relative;
  top: 4px;
  vertical-align: top;
  width: 5px;
  -webkit-animation: rotation 2s;
          animation: rotation 2s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.infosMapWrapper .map .infosMap .infosPlus {
  display: none;
  -webkit-animation: slideout 2s;
          animation: slideout 2s;
}

.infosMapWrapper .map .infosMap.active h2 {
  display: block;
  color: white;
  padding-left: 30px;
  width: 130px;
  margin-bottom: 10px;
}

.infosMapWrapper .map .infosMap.active h2::before {
  content: "";
  height: 39px;
  width: 27px;
  display: block;
  background-image: url(../image/logo-ecole.png);
  position: absolute;
  left: 0;
  top: -10px;
}

.infosMapWrapper .map .infosMap.active p {
  background-color: #EAEAEC;
  padding: 0.5rem;
}

.infosMapWrapper .map .infosMap.active .btnCampus {
  padding: 0;
  background-color: #EAEAEC;
  color: #F29401;
}

.infosMapWrapper .map .infosMap.active .btnCampus::after {
  top: 0;
  -webkit-animation: rotationBtn 1s;
          animation: rotationBtn 1s;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.infosMapWrapper .map .infosMap.active .infosPlus {
  display: block;
  -webkit-animation: slidein 3s;
          animation: slidein 3s;
}

@media screen and (min-width: 600px) {
  .infosMapWrapper .infosLogos .infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .infosMapWrapper .infosLogos .infos div {
    width: 50%;
    padding-right: 0.5rem;
  }
  .infosMapWrapper .infosLogos .logos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .infosMapWrapper .infosLogos .logos img {
    max-width: 180px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .infosMapWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .infosMapWrapper .infosLogos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .infosMapWrapper .infosLogos .infos .ecole,
  .infosMapWrapper .infosLogos .infos .formation,
  .infosMapWrapper .infosLogos .infos .recherche,
  .infosMapWrapper .infosLogos .infos .entreprise {
    margin-top: unset;
  }
  .infosMapWrapper .infosLogos .infos div {
    width: 25%;
  }
  .infosMapWrapper .infosLogos .logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .infosMapWrapper .map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}

/* animation de la flèche */
@-webkit-keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes rotationBtn {
  from {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  to {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@keyframes rotationBtn {
  from {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  to {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  to {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  to {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

footer {
  padding: 1rem 1rem;
  background-color: #151521;
  color: white;
  text-align: center;
}

footer a {
  color: white;
}

footer .school,
footer .credit {
  font-size: 0.7rem;
}

footer .link {
  margin: 1rem 0;
}

footer .link li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .link li a {
  margin: 0.5rem 0;
  font-weight: bold;
}

footer .credit {
  font-style: italic;
  font-weight: 100;
}

@media screen and (min-width: 1024px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .school {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    font-weight: 100;
    font-size: 0.8rem;
  }
  footer .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 0.8rem;
  }
  footer .link ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .link ul li {
    padding: 0 0.5rem;
  }
  footer .link ul li a {
    padding: 0 0.2rem;
  }
  footer .credit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 0.8rem;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}

body {
  font-family: 'Poppins', sans-serif;
}
/*# sourceMappingURL=style.css.map */