.infosMapWrapper {
  padding: 1rem;

  .infosLogos {
    .infos {

      .ecole,
      .formation,
      .recherche,
      .entreprise {
        margin-top: 10px;
      }

      h2 {
        margin-top: 0.5rem;
        display: inline-block;
        border-bottom: 1px solid #8e2364;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }

      li {
        a {
          color: black;
          font-size: 0.7rem;
        }
      }
    }

    .logos {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2.5rem 0;

      figure {
        margin: 2rem 0;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .map {
    overflow: hidden;
    position: relative;
    height: 450px;

    img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .infosMap {
      position: absolute;
      bottom: 20px;
      left: 20px;
      font-size: 0.7rem;

      h2 {
        display: none;
      }

      .btnCampus {
        background-color: $beige;
        color: $yellowLink;
        padding: 0.5rem;
        cursor: pointer;

        &:hover {
          background-color: $darkBlue;
          color: white;
        }

        &::after {
          content: '';
          border-style: solid;
          border-width: 1px 1px 0 0;
          display: inline-block;
          height: 5px;
          left: 3px;
          position: relative;
          top: 4px;
          vertical-align: top;
          width: 5px;
          transform: rotate(-45deg);
        }

        &.out {
          &::after {
            content: '';
            border-style: solid;
            border-width: 1px 1px 0 0;
            display: inline-block;
            height: 5px;
            left: 3px;
            position: relative;
            top: 4px;
            vertical-align: top;
            width: 5px;
            animation: rotation 2s;
            transform: rotate(-45deg);
          }
        }
      }

      .infosPlus {
        display: none;
        animation: slideout 2s;
      }

      &.active {
        h2 {
          display: block;
          color: white;
          padding-left: 30px;
          width: 130px;
          margin-bottom: 10px;
        }

        h2::before {
          content: "";
          height: 39px;
          width: 27px;
          display: block;
          background-image: url(../image/logo-ecole.png);
          position: absolute;
          left: 0;
          top: -10px;
        }

        p {
          background-color: $beige;
          padding: 0.5rem;
        }

        .btnCampus {
          padding: 0;
          background-color: $beige;
          color: $yellowLink;

          &::after {
            top: 0;
            animation: rotationBtn 1s;
            transform: rotate(135deg);
          }
        }

        .infosPlus {
          display: block;
          animation: slidein 3s;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .infosMapWrapper {
    .infosLogos {
      .infos {
        display: flex;
        flex-wrap: wrap;

        div {
          width: 50%;
          padding-right: 0.5rem;
        }
      }

      .logos {
        flex-direction: row;

        img {
          max-width: 180px;
          margin-right: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .infosMapWrapper {
    display: flex;

    .infosLogos {
      display: flex;
      flex: 3;
      flex-direction: column;
      justify-content: space-between;

      .infos {

        .ecole,
        .formation,
        .recherche,
        .entreprise {
          margin-top: unset;
        }

        div {
          width: 25%;
        }
      }

      .logos {
        display: flex;
      }
    }

    .map {
      display: flex;
      flex: 2;
    }
  }
}

/* animation de la flèche */
@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes rotationBtn {
  from {
    transform: rotate(-45deg);
  }

  to {
    transform: rotate(135deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(135deg);
  }

  to {
    transform: rotate(-45deg);
  }
}