@import '_reset';
@import '_variables';
@import '_nav';
@import '_slider1';
@import '_slider2';
@import '_infos';
@import '_footer';

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}

body {
  font-family: 'Poppins', sans-serif;
}